.container {
    margin-top: 80px;
    text-align: center;
}

h1 {
    color: red;
    font-size: 36px;
    font-weight: bold;
}

table {
    margin: auto;
}

td {
    padding: 8px;
    text-align: left;
}

input {
    width: 170px;
    height: 25px;
}

textarea {
    width: 170px;
    height: 60px;
}

button {
    margin-top: 10px;
    width: 70px;
}